<div>
  <md-input-container>
    <input mdInput [(ngModel)]="term" placeholder="Search">
  </md-input-container>
  <!--<input type="text" [(ngModel)]="term" placeholder="Search" />-->
</div>
<div>
  <button (click)="search()" md-button>Search!</button>
  <!--<button (click)="search()">Search</button>-->
</div>

