<md-card class="giphy-card">
    <!--<md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>-->
    <img md-card-image src={{giphy.images.original.url}}>
    <md-card-content>
      <div><a [href]="giphy.source" target="_blank">Source</a></div>
      <div>Rating: {{giphy.rating | uppercase}}</div>
    </md-card-content>
  </md-card>
<!--
<div>
  <img src={{giphy.images.original.url}} />
</div>
<div>
  <a [href]="giphy.source" target="_blank">{{giphy.source}}</a>
</div>-->
