<div *ngIf="!giphys.length">
  <p>no giphys found</p>
</div>
<div *ngIf="giphys.length">
  <md-card *ngFor="let giphy of giphys" class="giphy-card" (click)="selectGiphy(giphy)">
    <!--<md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>-->
    <img md-card-image src={{giphy.images.original_still.url}}>
    <!--<md-card-content>
      content
    </md-card-content>-->
  </md-card>
</div>